<grid-layout heading="'CLAIMS PROCESSING'"
             grid-model="$ctrl.gridModel"
             on-search-change = "$ctrl.onSearchChange()"             
             marker-type="'payroll'">
    <content>
        <table class="gridlayout-data-table">
            <thead>
                <tr>
                    <td class="gridlayout-data-table-heading">Claim Type</td>
                    <td class="gridlayout-data-table-heading">Member Name</td>
                    <td class="gridlayout-data-table-heading">Member Number</td>
                    <td class="gridlayout-data-table-heading">Scheme Code</td>
                    <td class="gridlayout-data-table-heading">Days in Status</td>
                    <td class="gridlayout-data-table-heading">Date of Notification</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in $ctrl.itemsOnPage" ng-class="{'gridlayout-data-table-row':$odd,'gridlayout-data-table-row-alternate':$even}">                  
                </tr>
            </tbody>
        </table>
        <div class="gridlayout-paging-bar">
            <ul uib-pagination total-items="$ctrl.gridModel.amount" ng-model="$ctrl.pageNumber" boundary-link-numbers="true" max-size="5" ng-change="$ctrl.fetchModreDataPaging()"></ul>
        </div>
    </content>
</grid-layout>