@ns: claimsprocessing;

.@{ns}{

}

.popover {
  height: auto !important;

  position: center !important;
  top: 40% !important;
  left: 40% !important;
}

.popover ion-content {
  top: 0;
  position: relative;
}