<grid-layout heading="'CLAIMS PROCESSING'"
             grid-model="$ctrl.gridModel"
             on-search-change = "$ctrl.onSearchChange()"             
             marker-type="'payroll'">
    <content>
        <table class="gridlayout-data-table">
            <thead>
                <tr>
                    <td class="gridlayout-data-table-heading">Claim Type</td>
                    <td class="gridlayout-data-table-heading">Member Name</td>
                    <td class="gridlayout-data-table-heading">Member Number</td>
                    <td class="gridlayout-data-table-heading">Scheme Code</td>
                    <td class="gridlayout-data-table-heading">Days in Status</td>
                    <td class="gridlayout-data-table-heading">Date of Notification</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in $ctrl.itemsOnPage" ng-class="{'gridlayout-data-table-row':$odd,'gridlayout-data-table-row-alternate':$even}">
                    <td class="gridlayout-data-table-value gridlayout-data-table-value-borders">{{item.claimType}}</td>
                    <td class="gridlayout-data-table-value gridlayout-data-table-value-borders">
                        <span class="gridlayout-data-item-title">{{item.memberName}}</span> 
                        <div class="icon ion-information-circled gridlayout-item-status layout-link" ng-click="showContactDetails(item, $event)"></div>                       
                    </td>
                    <td class="gridlayout-data-table-value gridlayout-data-table-value-borders">{{item.memberNumber}}</td>
                    <td class="gridlayout-data-table-value gridlayout-data-table-value-borders">{{item.schemeCode}}</td>
                    <td class="gridlayout-data-table-value gridlayout-data-table-value-borders" ng-class="item.expired?'gridlayout-item-status-alert':''">
                        {{item.dayInStatus  | date:'dd MM yyyy'}}
                    </td>
                    <td class="gridlayout-data-table-value gridlayout-data-table-value-borders" ng-class="item.expired?'gridlayout-item-status-alert':''">
                        {{item.dayOfNotification  | date:'dd MM yyyy'}}
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="gridlayout-paging-bar">
            <ul uib-pagination total-items="$ctrl.gridModel.amount" ng-model="$ctrl.pageNumber" boundary-link-numbers="true" max-size="5" ng-change="$ctrl.fetchModreDataPaging()"></ul>
        </div>
    </content>
</grid-layout>