<div class="welcome-page-container">
    <div class="menubar-top-line welcomepage-menubar-top-line">
        <div class="welcomepage-text-center ">
            <div class="menubar-logo"></div>
        </div>
    </div>
    <div class="welcomepage-text-center">
        <h2>Welcome to IMED</h2>
    </div>

    <div class="mySpinner" ng-show="loadingspinner">
        <ion-spinner icon="ios"></ion-spinner>
    </div>
  
    <section class="welcomepage-messege-container welcomepage-text-center">
        <p><h4>{{welcomeMessage}}</h4></p>
    </section>

    <div class="welcomepage-text-center" ng-show="dashboardBtn">
        <a ui-sref="dashboard" class="button button-positive" >Go to Dashboard</a>
    </div>
</div>


