
@ns: welcomepage;

.@{ns}-text-center{
     text-align:center;
     padding: 50px !important;
}
.@{ns}-messege-container {
    font-size: 18px;
}
.@{ns}-menubar-top-line{
    margin-bottom:50px;
}


