@import "../../variables.less";

@ns: welcomepage;

.@{ns}-text-center{
     text-align:center;
     padding: @item-padding!important;
}
.@{ns}-menubar-top-line{
    margin-bottom:@menubar-top-line-margin-bottom;
}

