<div class="welcome-page-container">
    <div class="menubar-top-line welcomepage-menubar-top-line">
        <div class="welcomepage-text-center ">
            <div class="menubar-logo"></div>
        </div>
    </div>
    <div class="welcomepage-text-center">
        <h2>Welcome to IMED</h2>
    </div>
  
    <section class="welcomepage-messege-container welcomepage-text-center">
        <p>{{welcomeMessage}}</p>
    </section>
    <div class="welcomepage-text-center">
        <input class="welcomepage-button" type="button" value="Go to Dashboard" />
    </div>
</div>
