@import 'variables.less';

.container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    position: relative;

    .bg {
        background: svg-load("app.svg", fill=@brand-danger);
        width: 73px;
        height: 100px;
        line-height: 75px;
        text-align: center;
    }

    .bar {
        border-top: 7px dotted @brand-danger;
        width: 70%;
        height: 1px;
        position: absolute;
        top: 38%;
        z-index: -1;
    }
}

.dontignoreme {
    width: 73px;
    height: 20%;
}


.ignoreme {
    width: 71px;
    height: 20%;
}
