@import '~bootstrap/less/variables.less';
@import '~less-plugin-ionic/less/variables.less';
@import '~less-plugin-ionic/less/ionicons/_ionicons-variables.less';

@ionicons-font-path: '../../../../node_modules/ionic-starter/www/lib/ionic/fonts';

//colors
@quote-color: #821a53;
@launch-color: #006251;
@install-color: #ea7125;
@payroll-color: #6dab43;

//font sizes
@amount-font-size: 45px;

//marker
@marker-size: 66;
@marker-thickness: 6;
