@import '~bootstrap/less/variables.less';
@import '~less-plugin-ionic/less/variables.less';
@import '~less-plugin-ionic/less/ionicons/_ionicons-variables.less';

@ionicons-font-path: '../../../../node_modules/ionic-starter/www/lib/ionic/fonts';
@quote-color: #821a53;
@launch-color: #006251;
@install-color: #ea7125;
@payroll-color: #6dab43;
