@import '~bootstrap/less/variables.less';
@import '~less-plugin-ionic/less/variables.less';
@import '~less-plugin-ionic/less/ionicons/_ionicons-variables.less';

@ionicons-font-path: '../../../../node_modules/ionic-starter/www/lib/ionic/fonts';

//colors
@quote-color: #821a53;
@launch-color: #006251;
@install-color: #ea7125;
@payroll-color: #6dab43;
@home-active-color: #868686;
@link-color: @dark;
@body-bg: @stable;

//sizes
@footer-size: auto;
@amount-font-size: 45px;
@marker-size: 66;
@marker-thickness: 6;
@menubar-height: 10px;
@menubar-padding: 7px;
@bar-height: (44px+@menubar-height);
