<layout grid-model="$ctrl.gridModel">
    <subheading class="dashboard-subheading">
        <ion-item class="bar sm-hidden lg-min60 no-activated dashboard-margin" ng-click="$ctrl.toggleFilterState()">
            <div ng-include src="'templates/filter.html'"></div>
        </ion-item>

        <div class="dashboard-filter-bar lg-hidden">
            <div ng-include src="'templates/filter.html'"></div>
        </div>
    </subheading>
    <content>
        <div class="list card am-fade-and-slide-top dashboard-margin" ng-if="$ctrl.dashboardSettings.showNewBusiness">
            <div class="item">
                <div class="dashboard-panel-item-left">
                    <b><b>NEW BUSINESS</b></b>
                </div>
                <div class="dashboard-panel-item-right">
                    <label class="item-input">
                        <input type="text" ng-model="$ctrl.searchNewbusinessText" placeholder="Search within New Business">

                    </label>
                    <button ng-click="$ctrl.searchNewbusiness()"><i class="ion-search padding-right"></i></button>
                </div>
            </div>
            <new-business-panel summary="$ctrl.newBusinessSummary"></new-business-panel>
        </div>
        <div class="dashboard-split-panels" ng-if="$ctrl.dashboardSettings.showClaims">
            <div class="list card dashboard-split-item am-fade-and-slide-top dashboard-margin" ng-if="$ctrl.dashboardSettings.showPayroll">
                <div class="item">
                    <div class="dashboard-panel-item-left">
                        <b><b>PAYROLL</b></b>
                    </div>
                    <div class="dashboard-panel-item-right">
                        <label class="item-input">
                            <input type="text" ng-model="$ctrl.gridModel.searchText" placeholder="Search within Payroll">
                            <b><i class="ion-search padding-right"></i></b>
                        </label>
                    </div>
                </div>
                <payroll-panel>
                </payroll-panel>
            </div>
            <div class="list card dashboard-split-item am-fade-and-slide-top dashboard-margin" ng-if="$ctrl.dashboardSettings.showClaims">
                <div class="item">
                    <div class="dashboard-panel-item-left">
                        <b><b>CLAIMS</b></b>
                    </div>
                    <div class="dashboard-panel-item-right">
                        <label class="item-input">
                            <input type="text" ng-model="$ctrl.gridModel.searchText" placeholder="Search within Claims">
                            <b><i class="ion-search padding-right"></i></b>
                        </label>
                    </div>
                </div>
                <claims-panel summary="$ctrl.claimsSummary"></claims-panel>
            </div>
        </div>
    </content>
</layout>
<script id="templates/filter.html" type="text/ng-template">
    <span class="dashboard-filter-label">FILTER YOUR VIEW</span>
    <label class="dashboard-filter-input"><input type="checkbox" ng-model="$ctrl.dashboardSettings.showNewBusiness" value="">NEW BUSINESS</label>
    <label class="dashboard-filter-input"><input type="checkbox" ng-model="$ctrl.dashboardSettings.showPayroll" value="">PAYROLL</label>
    <label><input type="checkbox" ng-model="$ctrl.dashboardSettings.showClaims" value="">CLAIMS</label>
    <div class="dashboard-filter-save">
        <a href="" class="layout-link" ng-click="$ctrl.saveSettings()">Save View</a>
    </div>
</script>