@import "../../variables.less";
@ns: dashboard;

.@{ns}-filter-input {
    padding-right: 5%;
}

.@{ns}-filter-save {
    float: right;
    display: inline-block;
}

.@{ns}-filter-label {
    padding-right: 5%;
}

.@{ns}-newbusiness-marker {
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media (min-width: @screen-sm) {
        width: 20%;
    }
}

@media (min-width: @screen-sm) {
    .@{ns}-split-panels {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
    }

    .@{ns}-split-item {
        width: 47%;
    }
}

@media (min-width: @screen-sm) and (max-width: @screen-lg) {
    .sm-hidden {
        display: none;
    }
}

@media (min-width: @screen-lg) {
    .lg-hidden {
        display: none;
    }

    .lg-min60 {
        width: 60%;
    }

    .@{ns}-subheading {
        display: flex;
    }

    .lg-min40 {
        width: 39%;
        float: right;
    }
}

.@{ns}-margin {
    margin: @list-header-margin-top !important;
    height: auto;
}

.@{ns}-filter-bar {
    border-left: none !important;
    border-right: none !important;
    margin-left: 0px;
    margin-right: 0px;
    height: auto;
}

.@{ns}-newbusiness {
    display: flex;

    @media (max-width: @screen-sm) {
        justify-content: center;
        flex-direction: column;
    }

    @media (min-width: @screen-sm) {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
    }

    position: relative;

    .@{ns}-linkbar {
        position: absolute;
        z-index: -1;
    }

    @media (min-width: @screen-sm) {
        .@{ns}-linkbar {
            border-top: 6px dotted @stable;
            height: 1px;
            width: 75%;
            top: unit((@marker-size/2) + (@marker-thickness*2),px);
        }
    }

    @media (max-width: @screen-sm) {
        .marker {
            margin-left: auto;
            margin-right: auto;
        }

        .@{ns}-linkbar {
            border-right: 6px dotted @stable;
            width: 1px;
            height: 100%;
            top: 0;
            right: 49%;
        }
    }

    .@{ns}-title {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: @padding-base-vertical;
    }

    .@{ns}-content {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: @font-size-base;
        padding-bottom: @item-padding * 2;
    }
}

.no-activated {
    background-color: @light !important;
}