<layout has-search="true">
    <content>
        <div class="list card">
            <ion-item class="bar" ng-click="$ctrl.toggleFilterState()">
                <h2 class="title title-left"><b>FILTER YOUR VIEW</b></h2>
                <i ng-class="$ctrl.filterState === 'EXPANDED'?'ion-chevron-up':'ion-chevron-down'" class="button button-icon"></i>
            </ion-item>
            <ion-toggle  ng-hide="$ctrl.filterState !== 'EXPANDED'" class="am-fade-and-slide-top" ng-model="$ctrl.dashboardSettings.showNewBusiness">NEW BUSINESS</ion-toggle>
            <ion-toggle  ng-hide="$ctrl.filterState !== 'EXPANDED'" class="am-fade-and-slide-top" ng-model="$ctrl.dashboardSettings.showPayroll">PAYROLL</ion-toggle>
            <ion-toggle ng-hide="$ctrl.filterState !== 'EXPANDED'" class="am-fade-and-slide-top" ng-model="$ctrl.dashboardSettings.showClaims">CLAIMS</ion-toggle>
            <a href="" ng-hide="$ctrl.filterState !== 'EXPANDED'" ng-click="$ctrl.saveSettings()" class="button button-clear button-stable">
                Save View
            </a>
        </div>
        <div class="list card am-fade-and-slide-top" ng-if="$ctrl.dashboardSettings.showNewBusiness">
            <div class="dashboard-panel-search-xs">
                <label class="item-input">
                    <input type="text" ng-model="$ctrl.gridModel.searchText" placeholder="NEW BUSINESS">
                    <button class="item-search-button">
                        <i class="ion-search padding-right"></i>
                    </button>
                </label>
            </div>
            <new-business-panel summary="$ctrl.newBusinessSummary"></new-business-panel>
        </div>
        <div class="list card am-fade-and-slide-top" ng-if="$ctrl.dashboardSettings.showPayroll">
            <div class="dashboard-panel-search-xs">
                <label class="item-input">
                    <input type="text" ng-model="$ctrl.gridModel.searchText" placeholder="PAYROLL">
                    <button class="item-search-button">
                        <i class="ion-search padding-right"></i>
                    </button>
                </label>
            </div>
            <payroll-panel></payroll-panel>
        </div>
        <div class="list card am-fade-and-slide-top" ng-if="$ctrl.dashboardSettings.showClaims">
            <div class="dashboard-panel-search-xs">
                <label class="item-input">
                    <input type="text" ng-model="$ctrl.gridModel.searchText" placeholder="CLAIMS">
                    <button class="item-search-button">
                        <i class="ion-search padding-right"></i>
                    </button>
                </label>
            </div>
            <claims-panel summary="$ctrl.claimsSummary"></claims-panel>
        </div>
    </content>
</layout>
