<layout user-name="$ctrl.userName">
    <subheading class="dashboard-subheading">
        <ion-item class="bar sm-hidden lg-min60 no-activated dashboard-margin" ng-click="$ctrl.toggleFilterState()">
            <div ng-include src="'templates/filter.html'"></div>
        </ion-item>
        <label class="item item-input dashboard-margin lg-min40">
            <input type="text" ng-model="$ctrl.searchText" placeholder="Search">
            <i class="ion-search padding-right"></i>
        </label>
        <div class="bar item dashboard-filter-bar lg-hidden">
            <div ng-include src="'templates/filter.html'"></div>
        </div>
    </subheading>
    <content>
        <div class="list card am-fade-and-slide-top dashboard-margin" ng-if="$ctrl.showNewBusiness">
            <div class="item item-divider">NEW BUSINESS</div>
            <new-business-panel summary="$ctrl.newBusinessSummary"></new-business-panel>
        </div>
        <div class="dashboard-split-panels">
            <div class="list card dashboard-split-item am-fade-and-slide-top dashboard-margin" ng-if="$ctrl.showPayroll">
                <div class="item item-divider">PAYROLL</div>
                <payroll-panel></payroll-panel>
            </div>
            <div class="list card dashboard-split-item am-fade-and-slide-top dashboard-margin" ng-if="$ctrl.showClaims">
                <div class="item item-divider">CLAIMS</div>
                <claims-panel summary="$ctrl.claimsSummary"></claims-panel>
            </div>
        </div>
    </content>
</layout>
<script id="templates/filter.html" type="text/ng-template">
    <span class="dashboard-filter-label">FILTER YOUR VIEW</span>
    <label class="dashboard-filter-input"><input type="checkbox" ng-model="$ctrl.showNewBusiness" value="">NEW BUSINESS</label>
    <label class="dashboard-filter-input"><input type="checkbox" ng-model="$ctrl.showPayroll" value="">PAYROLL</label>
    <label><input type="checkbox" ng-model="$ctrl.showClaims" value="">CLAIMS</label>
    <div class="dashboard-filter-save">
        <a href="" class="right">Save View</a>
    </div>
</script>