<layout user-name="$ctrl.userName" has-search="true">
    <subheading>
        <ion-header class="bar bar-clear bar-subheader has-menu-bar">
            <label class="item item-input">
                <input type="text" ng-model="$ctrl.searchText" placeholder="Search">
                <i class="ion-search padding-right"></i>
            </label>
        </ion-header>
    </subheading>
    <content>
        <div class="list card">
            <ion-item class="bar" ng-click="$ctrl.toggleFilterState()">
                <h2 class="title title-left">FILTER YOUR VIEW</h2>
                <i ng-class="$ctrl.filterState === 'EXPANDED'?'ion-chevron-up':'ion-chevron-down'" class="button button-icon"></i>
            </ion-item>
            <ion-checkbox ng-hide="$ctrl.filterState !== 'EXPANDED'" class="item-accordion" ng-model="$ctrl.showNewBusiness">NEW BUSINESS</ion-checkbox>
            <ion-checkbox ng-hide="$ctrl.filterState !== 'EXPANDED'" class="item-accordion" ng-model="$ctrl.showPayroll">PAYROLL</ion-checkbox>
            <ion-checkbox ng-hide="$ctrl.filterState !== 'EXPANDED'" class="item-accordion" ng-model="$ctrl.showClaims">CLAIMS</ion-checkbox>
            <ion-item ng-hide="$ctrl.filterState !== 'EXPANDED'" class="item-accordion bar item-stable">
                <a href="">Save View</a>
            </ion-item>
        </div>
        <div class="list card am-fade-and-slide-top" ng-if="$ctrl.showNewBusiness">
            <div class="item item-divider">
                NEW BUSINESS
            </div>
            <new-business-panel summary="$ctrl.newBusinessSummary"></new-business-panel>
        </div>
        <div class="list card am-fade-and-slide-top" ng-if="$ctrl.showPayroll">
            <div class="item item-divider">
                PAYROLL
            </div>
            <payroll-panel summary-promise="$ctrl.payrollPromise"></payroll-panel>
        </div>
        <div class="list card am-fade-and-slide-top" ng-if="$ctrl.showClaims">
            <div class="item item-divider">
                CLAIMS
            </div>
            <claims-panel summary="$ctrl.claimsSummary"></claims-panel>
        </div>
    </content>
</layout>
