<div class="item dashboard-newbusiness">
    <div class='dashboard-linkbar'>
    </div>
    <div class="dashboard-newbusiness-marker">
        <marker marker-type="'quote'" amount="$ctrl.summary.quotesIssued"></marker>
        <a ui-sref="quotesIssued" class="dashboard-title">QUOTES ISSUED</a>
        <div class="item-text-wrap dashboard-content">Quotes that can be presented to your client. Your action may be required</div>
    </div>
    <div class="dashboard-newbusiness-marker">
        <marker marker-type="'launch'" amount="$ctrl.summary.launching"></marker>
        <a ui-sref="quotes" class="dashboard-title">LAUNCHING</a>
        <div class="item-text-wrap dashboard-content">Accepted quites which is either completed or has outstanding information or comments.</div>
    </div>
    <div class="dashboard-newbusiness-marker">
        <marker marker-type="'install'" amount="$ctrl.summary.installing"></marker>
        <a ui-sref="quotes" class="dashboard-title">INSTALLING</a>
        <div class="item-text-wrap dashboard-content">Accepted quotes which has been launched and is being installed.</div>
    </div>
    <div class="dashboard-newbusiness-marker">
        <marker marker-type="'payroll'" amount="$ctrl.summary.payrollTracking"></marker>
        <a ui-sref="quotes" class="dashboard-title">PAYROLL TRACKING</a>
        <div class="item-text-wrap dashboard-content">You can track whether your new scheme has submitted its first payroll and whether the contributions has been fully processed</div>
    </div>
</div>