
<div>
    <div class="spinner" ng-show="$ctrl.showspinner">
        <ion-spinner icon="ios"></ion-spinner>
    </div>

    <div class="item" ng-show="$ctrl.showpannel">
        <div class="info-panel info-panel-solid-qoutes">
            <div class="amount">
                {{$ctrl.summary.payrollOverDue | zeropad:'00'}}
            </div>
            <div class="content">
                <a ui-sref="payroll.overdue" class="headingpay layout-link">PAYROLL OVERDUE</a>
                <div class="description">You can see which paypoints will be incurring late payment interest. Your intervention may be required.</div>
               
            </div>
        </div>
        <div class="payroll-highchart-section">
            <highchart config="$ctrl.chartConfig"></highchart>
            <div class="payrollPanel-chartsummary-container">
                <a ui-sref="payroll.notsubmitted">
                    <div class="payrollPanel-chartsummary payrollPanel-chartsummary-notsubmitted">
                        <div class="amount">{{$ctrl.summary.notSubmitted | zeropad:'00'}}</div>
                        <div class="layout-link"><u>NOT SUBMITTED</u></div>
                    </div>
                </a>
                <a ui-sref="payroll.processed">
                    <div class="payrollPanel-chartsummary payrollPanel-chartsummary-submitted">
                        <div class="amount">{{$ctrl.summary.submitted | zeropad:'00'}}</div>
                        <div class="layout-link"><u>SUBMITTED</u></div>
                    </div>
                </a>
            </div>
        </div>
         
        <div class="panel item">
            <div class="dashboard-label">TOTAL PAYPOINTS</div>
            <div calss="dashboard-label-total" align="right"><big>
                {{($ctrl.summary.payrollOverDue + $ctrl.summary.notSubmitted + $ctrl.summary.submitted) | zeropad:'00' }}
            </big></div>
        </div>
        <div class="panel item content content-light">
            The total expected pay points for the due month. The due month runs from the 8th of the month to the 7th of the following month.
        </div>
    </div>
</div>
