@import "../../variables.less";
@import "infoPanels.less";
@ns: payrollPanel;

.highcharts-container {
    margin-left: auto;
    margin-right: auto;
}

.@{ns}-chartsummary {
    border-radius: @border-radius-large;
    text-align: center;
    padding: @content-padding/2;
    margin: @sheet-margin;
    display: inline-block;
    width: 155px;
    height: 73px;

    .amount {
        font-size: 30px;
        font-weight: bold;
        padding: @content-padding;
    }
}

.@{ns}-chartsummary-container {
    display: flex;
    justify-content: center;
}

.@{ns}-chartsummary-notsubmitted {
    color: @install-color;
    border: @button-border-radius solid @install-color;
    margin: @sheet-margin @sheet-margin @sheet-margin auto;
}

.@{ns}-chartsummary-submitted {
    color: @payroll-color;
    border: @button-border-radius solid @payroll-color;
    margin: @sheet-margin auto @sheet-margin @sheet-margin;
}

