@import "../../variables.less";
@import "infoPanels.less";
@ns: payrollPanel;

.highcharts-container {
    @media (max-width: @screen-sm) {
        margin-left: auto;
        margin-right: auto;
    }

    @media (min-width: @screen-sm) {
        display: inline-block;
    }
}

.@{ns}-chartsummary {
    border-radius: @border-radius-large;
    text-align: center;
    padding: @content-padding/2;
    margin: @sheet-margin;
    display: inline-block;
    width: 155px;
    height: 73px;

    .amount {
        font-size: 30px;
        font-weight: bold;
        padding: @content-padding;
    }
}

.payroll-highchart-section {
    @media (min-width: @screen-sm) { // and (max-width:@screen-lg) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    /*@media (min-width:@screen-lg) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }*/
}

.@{ns}-chartsummary-container {
    display: flex;

    @media (max-width: @screen-sm) {
        flex-direction: row;
        justify-content: center;
    }

    @media (min-width: @screen-sm) and (max-width:@screen-lg) {
        flex-direction: column;
        justify-content: space-between;
    }

    @media (min-width:@screen-lg) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.@{ns}-chartsummary-notsubmitted {
    color: @install-color;
    border: @button-border-radius solid @install-color;

    @media (max-width: @screen-sm) {
        margin: @sheet-margin @sheet-margin @sheet-margin auto;
    }
}

.@{ns}-chartsummary-submitted {
    color: @payroll-color;
    border: @button-border-radius solid @payroll-color;

    @media (max-width: @screen-sm) {
        margin: @sheet-margin auto @sheet-margin @sheet-margin;
    }
}
