@import "../../variables.less";
@ns: gridlayout;

.@{ns}-subheading {
    display: flex;
    flex-flow: row;
}

.@{ns}-heading-container {
    display: flex;
    align-items: flex-start;
    padding: @content-padding;
}

.@{ns}-heading-container-left {
    width: 60%;
}

.@{ns}-paging-bar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: (@content-padding *2);
}

.dashboard-margin.@{ns}-search-container-right {
    width: 40%;
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.@{ns}-tabs-bar {
    padding: @content-padding * 2;
}

.@{ns}-tabs-button {
    padding: @content-padding;
    border: 3px solid @tab-bar-border-color;
    font-size: @font-size-large;
    text-decoration: none;
    color: @tab-bar-border-color;
    font-weight: bold;
}

.@{ns}-tabs-button.active {
    color: @light;
    background-color:@tab-bar-border-color;
}

.@{ns}-heading {
    padding-left: @content-padding;
    margin-bottom: @list-header-margin-top;
}

.@{ns}-item-status {
    height: 100%;
    width: @item-status-width;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    line-height: 100%;
    line-height: @button-large-height;
    font-size: @font-size-large*2;
}

.@{ns}-data-item-container {
    padding-right: (@button-bar-button-icon-size * 2) !important;
    height: auto !important;
}

.@{ns}-data-item-title {
    margin-left: @item-status-width;
}

.@{ns}-data-item-title-icon {
    position: absolute !important;
    top: 10px;
    right: 0;
}

.@{ns}-item-status-alert {
    background-color: @install-color;
    color: @light;
    font-weight: bold;
}

.@{ns}-item-status-normal {
    color: @light;
    background-color: @normal-status-color;
    font-weight: bold;
}

.@{ns}-data-table {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.@{ns}-data-table-heading {
    color: @light;
    background-color: @heading-bg-color;
    border: 1px solid @light;
    padding: (@content-padding * 2);
    font-weight: bold;
}

.@{ns}-data-table-value {
    position: relative;
    padding: (@content-padding * 2);
}

.@{ns}-data-table-value-borders {
    border-left: 1px solid @normal-status-color;
    border-right: 1px solid @normal-status-color;
}

.@{ns}-data-table-row {
    background-color: @light;
}

.@{ns}-data-table-row-alternate {
    background-color: @stable;
}


my-spinner{
position: absolute;
bottom:20px;
left:45%;
right:45%;
}

.mySpinnerload {
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 0px;
    text-align: center;
}

