@import "../../variables.less";
@ns: gridlayout;

.@{ns}-subheading {
    display: flex;
    flex-flow: row;
}

.@{ns}-heading-container {
    display: flex;
    align-items: flex-start;
    padding: @content-padding;
}

.@{ns}-heading-container-left {
    width: 60%;
}

.dashboard-margin.@{ns}-search-container-right {
    width: 40%;
    margin-top:auto !important;
    margin-bottom:auto !important;
}

.@{ns}-heading {
    padding-left: @content-padding;
    margin-bottom: @list-header-margin-top;
}

.@{ns}-item-status {
    height: 100%;
    width: @item-status-width;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    line-height: 100%;
    line-height: @button-large-height;
    font-size: @font-size-large*2;
}

.@{ns}-data-item-container {
    padding-right: (@button-bar-button-icon-size * 2) !important;
    height:auto !important;
}

.@{ns}-data-item-title {
    font-size: @font-size-small !important;
    margin-left: @item-status-width;
}

.@{ns}-data-item-title-icon {
    position: absolute !important;
    top: 10px;
    right: 0;
}

.@{ns}-item-status-alert {
    background-color: @install-color;
    color: @light;
}
