<grid-layout user-name="$ctrl.userName"
             heading="'PAYROLL TRACKING'"
             search-text="$ctrl.searchText"
             amount="$ctrl.count"
             marker-type="'payroll'">
    <content>
        <table class="gridlayout-data-table">
            <thead>
                <tr>
                    <td class="gridlayout-data-table-heading">Scheme Name</td>
                    <td class="gridlayout-data-table-heading">Scheme Number</td>
                    <td class="gridlayout-data-table-heading">Pay Point Name</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in $ctrl.itemsOnPage" ng-class="{'gridlayout-data-table-row':$odd,'gridlayout-data-table-row-alternate':$even}">
                    <td class="gridlayout-data-table-value">
                        <div class="icon gridlayout-item-status "
                             ng-class="item.expired?['gridlayout-item-status-alert','ion-alert']:['gridlayout-item-status-normal','ion-android-person']">
                        </div>
                        <span class="gridlayout-data-item-title">{{item.schemeName}}</span>
                    </td>
                    <td class="gridlayout-data-table-value gridlayout-data-table-value-borders">{{item.schemeNumber}}</td>
                    <td class="gridlayout-data-table-value gridlayout-data-table-value-borders">{{item.payPointName}}</td>                   
                </tr>
            </tbody>
        </table>
        <div class="gridlayout-paging-bar">
            <ul uib-pagination total-items="$ctrl.count" ng-model="$ctrl.pageNumber" boundary-link-numbers="true" max-size="5" ng-change="$ctrl.fetchData()"></ul>
        </div>
    </content>
</grid-layout>