@import "../../variables.less";
@ns: layout;

.@{ns}-float-button {
    position: absolute;
    height: 50px;
    background-color: fade(@scroll-refresh-icon-color,80%);
    width: 50px;
    z-index: 9;
    right: 10px;
    bottom: @bar-height + @menubar-height + @padding-base-vertical;
    border-radius: 25px;
    color: @button-light-active-bg;
    border-color: @scroll-refresh-icon-color;
    border-style: none;
}

.@{ns}-footer {
    background-color: @light;
}

.@{ns}-footer-disclaimer {
    padding-bottom: @item-padding;
    padding-top: @item-padding;
    border-bottom: 1px solid @dark;
    border-top: 1px solid @dark;
}

.@{ns}-footer-container {
    padding: @item-padding;
}

.@{ns}-footer-links {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    padding: 22px;
    text-align: center;

    a {
        padding: 10px;
        white-space: nowrap;
    }

    @media (max-width: @screen-sm) {
        border-bottom: 1px solid @dark;
    }
}

.@{ns}-footer-company-information {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: @item-padding;
}

.@{ns}-footer-company-address {
    padding-bottom: @item-padding;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.@{ns}-footer-company-copyright {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media (min-width: @screen-sm) {

    html {
        min-height: 100%;
        background-color: @light;
    }

    body {
        margin-left: auto;
        margin-right: auto;
        background-color: @stable;
        height: 100%;
    }
}

@media (min-width: @screen-sm) and (max-width: @screen-lg) {
    body {
        width: @screen-sm;
    }
}

@media (min-width: @screen-lg) {
    body {
        width: @screen-lg;
    }
}

.has-grid-header {
    top: unit(@grid-heading-height + @bar-height,px) !important;
}

.has-grid-tabs-header {
    top: unit(@grid-heading-height + @bar-height + @bar-height,px) !important;
}
