<div class="layout-content-container">
    <div class="menubar-top-line"></div>
    <div class="layout-menu-container">
        <div class="layout-menu center" >
            <menubar user-name="$ctrl.gridModel.userName">
            </menubar>
        </div>
    </div>

    <div ng-transclude="subheading">
    </div>
    <div class="mySpinnerload" ng-show="$ctrl.gridModel.isLoading">
        <loading></loading>
    </div>
    
    <div>
        <div ng-transclude="content"></div>  
    </div>
    <br />
    <br />
    <div class="layout-footer">
        <div class="layout-footer-heading">MyClient Disclaimer</div>
        <footer></footer>
    </div>
</div>