@import "../../variables.less";
@import "../../mixins.less";

@ns: layout;

.@{ns}-float-button {
    .circle(@float-button-width, @button-light-active-bg, 0);
    position: absolute;
    background-color: fade(@scroll-refresh-icon-color, 80%);
    z-index: 9;
    right: 10px;
    bottom: @bar-height + @menubar-top-line-height + @padding-base-vertical;
    border-style: none;
    color: @light;
}

.@{ns}-footer-heading {
    padding: @item-padding @item-padding 0 @item-padding;
    text-decoration: underline;
    font-weight: bold;
}

.@{ns}-footer {
    background-color: @light;
    position: absolute;
    left: 0;
}

.@{ns}-footer-disclaimer {
    padding-bottom: @item-padding;
    padding-top: @item-padding;
    border-bottom: 1px solid @dark;
    border-top: 1px solid @dark;
}

.@{ns}-footer-container {
    padding: @item-padding;
}

.@{ns}-footer-links {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    padding: @content-padding;
    text-align: center;

    a {
        padding: @content-padding;
        white-space: nowrap;
    }

    @media (max-width: @screen-sm) {
        border-bottom: 1px solid @dark;
    }
}

.@{ns}-footer-company-information {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: @item-padding;
}

.@{ns}-footer-company-address {
    padding-bottom: @item-padding;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.@{ns}-footer-company-copyright {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media (min-width: @screen-sm) {

    html {
        background-color: @light;
        overflow: unset !important;
    }

    body {
        margin-left: auto !important;
        margin-right: auto !important;
        background-color: @stable;
        width: @screen-sm;
        overflow: unset !important;
    }

    .bar {
        position: unset !important;
    }

    .@{ns}-content-container {
        min-height: 72vh;
        position: relative;
    }

    .@{ns}-footer {
        bottom: -294px;
    }
}

@media (min-width: @screen-lg) {
    body {
        width: @screen-lg;
    }

    .@{ns}-content-container {
    }
}

.has-menu-bar {
    top: @menubar-bar-height !important;
}

.has-menu-bar.has-search {
    top: @menubar-bar-height + @bar-subheader-height !important;
}

.has-menu-bar.has-grid-tabs {
    top: @menubar-bar-height + @tabs-height !important;
}

.has-menu-bar.has-search.has-grid-tabs {
    top: @menubar-bar-height + @bar-subheader-height + @tabs-height !important;
}

.has-menu-bar.has-grid-header {
    top: @menubar-bar-height + @grid-heading-height !important;
}

.has-menu-bar.has-grid-header.has-grid-tabs {
    top: @menubar-bar-height + @grid-heading-height + @tabs-height !important;
}

.has-menu-bar.has-grid-header.has-search {
    top: @menubar-bar-height + @grid-heading-height + @bar-subheader-height !important;
}

.has-menu-bar.has-grid-header.has-search.has-grid-tabs {
    top: @menubar-bar-height + @grid-heading-height + @bar-subheader-height + @tabs-height !important;
}

.loading-container .loading {
    padding: 20px;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 15px;
}

.dashboard-newbusiness .dashboard-title {
    text-align: center;
    color: @dashboard-title;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1px;
    text-decoration: @textDecoration ;
    border-bottom: 3px solid #6eab24;
}

.right{
    text-decoration: @textDecoration ;
    border-bottom: 3px solid #33cd5f;
    color: #006150;
}