<div class="layout-content-container">
    <ion-header-bar align-title="right" class="bar-light menubar-container">
        <menubar user-name="$ctrl.gridModel.userName">
        </menubar>
    </ion-header-bar>
    <div ng-transclude="subheading">
    </div>
    <div class="mySpinnerload" ng-show="$ctrl.gridModel.isLoading">
        <loading></loading>
    </div>
    
    <div>
        <div ng-transclude="content"></div>  
    </div>
    <div>
        <br />
        <div>
            <a ui-sref="dashboard" class="returnButton"> Return to Dashboard</a>
        </div>
    </div>
    <br />
    <br />
    <div class="layout-footer">
        <div class="layout-footer-heading">MyClient Disclaimer</div>
        <footer></footer>
    </div>
</div>