<ion-header-bar align-title="right" class="bar-light menubar-container">
    <menubar user-name="$ctrl.userName">
    </menubar>
</ion-header-bar>
<ion-view class="has-footer stable-bg">
    <div ng-transclude="subheading"></div>
    <ion-content
        delegate-handle="main"
        on-scroll="$ctrl.getScrollPosition()"
        class="content-light has-footer has-menu-bar"
        ng-class="{
                 'has-search':$ctrl.hasSearch,
                 'has-grid-tabs':$ctrl.hasTabs,
                 'has-grid-header':$ctrl.hasGridHeader
                 }" >
        <div ng-transclude="content"></div>
    </ion-content>
    <button class="layout-float-button ion-chevron-up am-fade-and-scale" ng-class="$ctrl.showScrollButton?'':'ng-hide'" ng-click="$ctrl.scrollToTop()"></button>
    <ion-pull-up-footer class="bar-light" default-behavior="expand" max-height="350" state="$ctrl.footerState">
        <ion-pull-up-bar ion-pull-up-trigger>
            <h1 class="title title-left"><a href="">My Client Disclaimer</a>{{$ctrl.scrollTop}}</h1>
            <i ng-class="$ctrl.footerState === 'EXPANDED'?'ion-chevron-up':'ion-chevron-down'" class="button button-icon"></i>
        </ion-pull-up-bar>
        <ion-pull-up-content scroll="false">
            <footer></footer>
        </ion-pull-up-content>
    </ion-pull-up-footer>
</ion-view>