<ion-header-bar align-title="right" class="bar-light">
    <menubar user-name="$ctrl.userName">
    </menubar>
</ion-header-bar>
<ion-view class="has-header has-footer stable-bg">
    <ion-header class="bar bar-clear bar-subheader">
        <div ng-transclude="subheading">
        </div>
    </ion-header>
    <ion-content delegate-handle="main" on-scroll="$ctrl.getScrollPosition()" class="content-light has-subheader">
        <div ng-transclude="content"></div>
        <div class="layout-footer">
            <div>
                MyClient Disclaimer
            </div>
            <footer></footer>
        </div>
    </ion-content>
</ion-view>
