@import "../../variables.less";
@import "../../mixins.less";

@ns: menubar;

.@{ns}-container {
    height: @menubar-bar-height !important;
}

.@{ns}-logo {
    display: inline-block;
    background-image: url(logo.png);
    height: (@menubar-bar-base-height - @content-padding);
    width: @menu-logo-width;
    background-size: @menu-logo-width;
    background-repeat: no-repeat;
    margin-top: (@content-padding / 3);
}

.@{ns}-icon-right {
    float: right;
    color: @link-blue;
}

@{ns} {
    width: 100%;
}

.@{ns}-top-line {
    width: 100%;
    height: @menubar-top-line-height;
    .horizontal-gradient(#6eab24,#006150);
}

.@{ns} {
    &.btn-link, &.btn-link:hover, &.btn-link:active, &.btn-link:focus {
        text-decoration: none !important;
        box-shadow: none !important;
        outline: none;
    }

    &.btn-link:focus {
        color: @gray-light;
    }
}

.@{ns}-right {
    float: right;
    display: flex;
}

.@{ns}-greeting {
    padding: @menubar-padding;
    border-right: 1px solid @dark;
    margin-right: @content-padding;
}

.@{ns}-links {
    display: flex;

    .active {
        border-bottom: @menu-link-border-size solid @home-active-color;

        a {
            text-decoration: none;
        }
    }
}

.@{ns}-link {
    padding: @menubar-padding;
}
